html, body {
    height: 100%;
    margin: 0;
}

/* Nav Container */
nav .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    margin: 0px 65px;
    padding: 0px;
    font-size: 1.1rem;
}

/* Nav Department */
.nav-department {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.nav-department li {
    margin-right: 5vw;
    cursor: pointer;
}

/* List Style */
nav li {
    list-style: none;
}

/* Logo */
.logo {
    display: flex;
    width: 15vw;
    min-width: 125px;
    cursor: pointer;
}
.logo img {
    width: 100%;
}

/* User Menu */
.btn_user {
    cursor: pointer;
}

.btn_user img {
    width: 15px;
    height: auto;
}

/* Nav Button */
nav button {
    width: 10vw;
    min-width: 90px;
    margin-left: 5vw;
    height: 50px;
    border-radius: 20px;
    background-color: #F0B791;
    border: 0px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

nav button:focus {
    outline: none;
}

/* Media Query */
@media (max-width: 900px) {
    .nav-department {
        display: none;
    }
}
