#container {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
}

#container form {
    display: flex;
    flex-direction: column;
}

#container .content {
    display: flex;
    flex-direction: column;
}

.input-email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-password {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Reset Password Done Text */
.content span {
    font-weight: bold;
}

/* Icon */
.image_icon {
    width: 53px;
    height: 53px;
    background-size: contain;
    margin-right: 30px;
}

.new_password1 {
    content: url('../img/password1.png');
}
.new_password2 {
    content: url('../img/password2_checked.png');
}

/* Input CSS */
input[type='email'],
input[type='password'] {
    width: 28vw;
    min-width: 300px;
    height: 80px;
    background-color: #F9F9F9;
    border-radius: 20px;
    border: 0px;
    padding-left: 34px;
}

input[type='email'],
input[type='password']:focus {
    outline: 0;
}

input[type='email'],
input[type='password']::placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
input[type='email'],
input[type='password']::-moz-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
input[type='email'],
input[type='password']::-ms-input-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
input[type='email'],
input[type='password']::-webkit-input-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}

/* Button Send */
.send {
    margin-bottom: 60px;
    margin-top: 6vh;
    align-self: center;
}
.send input[type='submit'] {
    width: 32vw;
    min-width: 410px;
    height: 80px;
    background-color: #DC8962;
    border-radius: 20px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Error CSS */
.text-error {
    color: red;
    margin-bottom: 12px;
    display: block;
}
