#container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sign-up-input {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Icon CSS */
.icon {
    display: inline-block;
    margin-right: 30px;
}

.icon img {
    width: 53px;
    height: 53px;
    background-size: contain;
}

.id {
    background: url('../img/id.png') no-repeat;
}
.name {
    background: url('../img/name.png') no-repeat;
}
.email {
    background: url('../img/email.png') no-repeat;
}
.department {
    background: url('../img/department.png') no-repeat;
}
.password1 {
    background: url('../img/password1.png') no-repeat;
}
.password2 {
    background: url('../img/password2_checked.png') no-repeat;
}

/* Input CSS */
.sign-up-input input[type='text'],
input[type='email'],
input[type='password']{
    width: 28vw;
    min-width: 300px;
    height: 80px;
    background-color: #F9F9F9;
    border-radius: 20px;
    border: 0px;
    padding-left: 34px;
}

.sign-up-input input[type='text'],
input[type='email'],
input[type='password']:focus {
    outline: 0;
}

.sign-up-input input[type='text'],
input[type='email'],
input[type='password']::placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
input[type='password']::-moz-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
input[type='password']::-ms-input-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
input[type='password']::-webkit-input-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}

/* Select CSS */
 .sign-up-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F9F9F9 url('../img/tri_grey.png') no-repeat 90% 50%;

    width: 30vw;
    min-width: 334px;
    padding: 30px 34px;
    font-size: 1rem;
    border: 0px;
    border-radius: 20px;
}
.sign-up-input select:focus{
    outline: 0;
}

/* Button Sign Up */
.sign-up {
    margin-bottom: 60px;
    margin-top: 6vh;
}
.sign-up input[type='submit'] {
    width: 32vw;
    height: 80px;
    background-color: #DC8962;
    border-radius: 20px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Media Query */
@media (max-width: 1200px) {
    .sign-up-input select {
        width: 31.5vw;
    }
    .input-box {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}