<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Info Overflow</title>

        {% block scripts %}
        {% endblock scripts %}

        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        <nav>
            <ul>
                <li class="logo">
                    <img src="{% static 'img/logo.png' %}">
                </li>
                <li>
                    <h1>SIGN UP</h1>
                </li>
                <li>
                    <button>sign in</button>
                </li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>