{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}



{% block content %}
{% if not user.is_authenticated %}
<script language="JavaScript">
    location.replace('/login');
</script>
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>
                alert('{{ message }}')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}