{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}
<div id="container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="sign-in-input">
            <div class="icon">
                <img class="id" />
            </div>
            <input type="text" name="id" placeholder="ID">
        </div>
        <div class="sign-in-input">
            <div class="icon">
                <img class="password" />
            </div>
            <input type="password" name="password" placeholder="PASSWORD">
        </div>
        <div class="forgot-password">
            <a href="#">Forgot password</a>
        </div>
        <div class="sign-in">
            <input type="submit" value="sign in">
        </div>
    </form>
</div>
{% endblock content %}