{% block content %}
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="sign-up-input {% if field.errors|length > 0 %}has-error{% endif %}">
            <div class="icon"></div>
            {% if field.label == "Department" %}
                <select name="department">
                    <option value="Software">SOFTWARE</option>
                    <option value="Web Solution">WEB SOLUTION</option>
                    <option value="Design">DESIGN</option>
                </select>
            {% else %}
                <input name="{{ field.name }}" type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}">
            {% endif %}
        </div>
    {% endfor %}
    <div class="sign-up">
        <input type="submit" value="sign up">
    </div>
</form>
{% endblock content %}