{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock css %}

{% block content %}
<div id="container">
    <form action="." method="post">
        {% csrf_token %}
        <div class="input-box">
            {% for field in form %}
            <div class="sign-up-input {% if field.errors|length > 0 %}has-error{% endif %}">
                <div class="icon">
                    <img src="{% static 'img/name.png' %}" />
                </div>
                {% if field.label == "Department" %}
                <select name="department">
                    <option value="Software">SOFTWARE</option>
                    <option value="Web Solution">WEB SOLUTION</option>
                    <option value="Design">DESIGN</option>
                </select>
                {% else %}
                <input name="{{ field.name }}" type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="sign-up">
            <input type="submit" value="sign up">
        </div>
    </form>
</div>
{% endblock content %}