/* Container */
#container {
    margin: 0px 65px;
}

/* Text Title */
.title {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 5px;
}

/* Date, Category, User, Edit, Remove */
.post-header {
    display: flex;
    justify-content: space-between;
}

.post-info {
    display: flex;
    align-items: center;
}

.line {
    width: 1px;
    height: 15px;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons {
    display: flex;
}

.btn-edit, .btn-remove {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    width: 7vw;
    min-width: 100px;
    height: 30px;
    margin-left: 5px;

    background-color: #F0B791;
    border-width: 0;
    border-radius: 20px;
    cursor: pointer;
}

.btn-edit, .btn-remove:focus {
    outline: none;
}

.btn-edit a, .btn-remove a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Content */
.post-content {
    margin-bottom: 0;
    margin-top: 40px;
    color: #666666;
    font-size: 1.2rem;
}

/* Comment */
.tagable {
    cursor: pointer;
}

.comment-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.comment {
    margin-bottom: 55px;
}

.comment-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-info span:nth-child(1) {
    margin-right: 25px;
    font-size: 0.95rem;
}

.comment-info span:nth-child(2) {
    font-size: 0.85rem;
    color: #666666;
}

.comment-buttons {
    display: flex;
    align-items: center;
}

.comment-buttons a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.invisible {
    display: none;
}

.comment-content {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #666666;
}

/* Edit Comment */
.btn-comment-save {
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
}

.btn-comment-save:focus {
    outline: none;
}

.edit-textarea textarea {
    padding: 35px;
    width: 100%;
    height: 120px;
    margin-top: 15px;

    background-color: #F9F9F9;
    border-radius: 20px;
    border-width: 0;
    box-sizing: border-box;

    resize: none;
    font-family: inherit;
    color: #666666;
}

.edit-textarea textarea:focus {
    outline: none;
}

/* Input Comment */
.input-comment {
    margin-top: 35px;
    display: inline-block;
}

.input-comment-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-comment-info img {
    width: 40px;
    height: auto;
}

.input-comment-info span {
    font-size: 0.95rem;
    margin-left: 15px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.input-box textarea {
    padding: 35px;
    width: 85vw;
    height: 8vh;
    margin-right: 2vw;

    background-color: #F9F9F9;
    border-radius: 20px;
    border-width: 0;

    resize: none;
    font-family: inherit;
    font-size: 1.1rem;
    color: #666666;
}

.input-box textarea:focus {
    outline: none;
}

.input-box textarea::placeholder {
    color: #666666;
    font-size: 1.1rem;
}

.input-box input[type='submit'] {
    width: 15vw;
    background-color: #DC8962;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    border-width: 0;
}
