#container {
    margin: 0 65px;
}

/* Input Title */
.title-category-box input[type='text'] {
    width: 35vw;
    min-width: 240px;
    height: 6vh;
    min-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;

    background-color: #F9F9F9;
    border-radius: 20px;
    border: none;

    font-weight: bold;
}

.title-category-box input[type='text']:focus {
    outline: none;
}

/* Category */
.title-category-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F0B791 url('../img/tri_white.png') no-repeat 90% 50%;
    background-size: 5%;

    width: 20vw;
    min-width: 220px;
    padding: 20px 34px;
    font-size: 1rem;
    border: 0;
    border-radius: 20px;

    color: white;
}
.title-category-box select:focus{
    outline: 0;
}

/* Content */
.textarea-content {
    height: 45vh;
    min-height: 410px;
    padding: 30px;
    width: 100%;
    margin-top: 30px;

    background-color: #F9F9F9;
    border-radius: 20px;
    border: none;
    resize: none;

    font-family: inherit;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.textarea-content:focus {
    outline: none;
}

/* Submit Button */
.submit-container {
    display: flex;
    justify-content: flex-end;
}

.btn-publish {
    width: 10vw;
    min-width: 100px;
    height: 40px;
    margin-top: 20px;

    border: none;
    border-radius: 15px;

    background-color: #DC8962;
    color: white;

    font-weight: bold;

    cursor: pointer;
}
