{% extends 'account/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/post_list.css' %}">
{% endblock css %}

{% block content %}
{% if not user.is_authenticated %}
<script language="JavaScript">
    location.replace('/login');
</script>
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>
                alert('{{ message }}')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
<div id="container">
    <div class="write-container">
    <a class="btn-write" href="{% url 'blog:post_new' %}">Write</a>
</div>
{% for post in posts.reverse %}
    <div class="post-box">
        <div class="left-box">
            <div class="category-box">
                <span>{{ post.category }}</span>
            </div>
            <h1 class="title">
                <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h1>
            <div class="comment-box">
                <img src="{% static 'account/img/comment.png' %}" />
                <span>{{ post.comments.count }}</span>
            </div>
        </div>
        <div class="right-box">
            <div class="date">
                <span>{{ post.published_date|date:"Y. m. d" }}</span>
            </div>
            <div class="user-name">
                <span>{{ post.user.get_name }}</span>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}