{% extends 'account/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
{% endblock css %}

{% block content %}
<div id="container">
    <div class="post-box">
        <h1 class="title">{{ post.title }}</h1>
        <div class="post-header">
            <div class="post-info">
                <span>{{ post.published_date|date:"Y. m. d" }}</span>
                <div class="line"></div>
                <span>{{ post.category }}</span>
                <div class="line"></div>
                <span>{{ post.user.get_name }}({{ post.user.get_user_department }})</span>
                <img
                    src="/static/account/img/{{ post.user.get_user_grade }}.png"
                    alt="{{ post.user.get_user_grade }}"
                    class="img-grade"
                />
            </div>
            {% if post.user.get_name == user.get_name %}
            <div class="buttons">
                <div class="btn-edit">
                    <a href="{% url 'blog:post_edit' pk=post.pk %}">edit</a>
                </div>
                <div class="btn-remove">
                    <a href="{% url 'blog:post_remove' pk=post.pk %}">remove</a>
                </div>
            </div>
            {% elif user.is_superuser %}
            <div class="btn-remove">
                <a href="{% url 'blog:post_remove' pk=post.pk %}">remove</a>
            </div>
            {% endif %}
        </div>
        <p class="post-content">{{ post.content|linebreaksbr }}</p>
    </div>
    <div class="comment-container">
        {% for comment in post.comments.all %}
        <div class="comment">
            <form
                    action="{% url 'blog:comment_edit' pk=comment.pk %}"
                    method="post"
                    id="comment-edit-form"
                    class="{% if not comment.user.get_name == user.get_name %}tagable{% endif %}"
            >
                {% csrf_token %}
                <div class="comment-info-container">
                    <div class="comment-info">
                        <span>{{ comment.user.get_name }} ({{ comment.user.get_user_department }})</span>
                        <img
                            src="/static/account/img/{{ comment.user.get_user_grade }}.png"
                            alt="{{ comment.user.get_user_grade }}"
                            class="img-grade"
                        />
                        <span>{{ comment.published_date|date:"Y. m. d H:i" }}</span>
                    </div>
                    {% if comment.user.get_name == user.get_name %}
                    <div class="comment-buttons">
                        <a id="edit-btn-{{ comment.pk }}" class="btn-comment-edit">edit</a>
                        <div id="line-{{ comment.pk }}" class="line" style="height: 10px"></div>
                        <a id="remove-btn-{{ comment.pk }}" href="{% url 'blog:comment_remove' pk=comment.pk %}" class="btn-comment-remove">remove</a>
                        <input id="save-btn-{{ comment.pk }}" type="submit" class="btn-comment-save invisible" value="save">
                    </div>
                    {% elif user.is_superuser %}
                    <div class="comment-buttons">
                        <a href="{% url 'blog:comment_remove' pk=comment.pk %}" class="btn-comment-remove">remove</a>
                    </div>
                    {% endif %}
                </div>
                <div id="comment-content-{{ comment.pk }}" class="comment-content">
                    <p>{{ comment.content|linebreaks }}</p>
                </div>
                <div id="edit-textarea-{{ comment.pk }}" class="edit-textarea invisible">
                    <textarea name="content" >{{ comment.content }}</textarea>
                </div>
            </form>
        </div>
        {% endfor %}

        <div class="input-comment">
            <div class="input-comment-info">
                <img src="{% static 'account/img/id.png' %}" />
                <span>{{ user.get_name }}</span>
            </div>
            <form method="post" class="input-box">
                {% csrf_token %}
                <textarea name="content" placeholder="comment..." class="textarea-comment"></textarea>
                <input type="submit" value="submit" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'blog/js/post_detail.js' %}"></script>
{% endblock scripts %}
