{% extends 'account/base.html' %}

{% block content %}
{% if not user.is_authenticated %}
<script language="JavaScript">
    location.replace('/login');
</script>
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>
                alert('{{ message }}')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
{% for post in posts %}
    <div class="post">
        <h1>
            <a href="post/{{ post.pk }}">{{ post.title }}</a>
        </h1>
        <p>{{ post.content|linebreaksbr }}</p>
        <div class="date">
            <p>{{ post.published_date }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}