<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Info Overflow</title>

        <link rel="icon" href="{% static 'account/img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'account/css/nav.css' %}">
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        <nav>
            <ul class="header">
                <li class="logo">
                    <img src="{% static 'account/img/logo.png' %}">
                </li>
                <li>
                    {% if request.path == '/signup/' %}
                    <h1>SIGN UP</h1>
                    {% elif request.path == '/login/' or request.path == '/logout/' %}
                    <h1>SIGN IN</h1>
                    {% elif request.path == '/change_password/' %}
                    <h1>CHANGE PASSWORD</h1>
                    {% elif request.path == '/password_reset/' or '/reset/' in request.path %}
                    <h1>RESET PASSWORD</h1>
                    {% elif request.path == '/password_reset_done/' %}
                    <h1>SENT</h1>
                    {% else %}
                    <ul class="nav-department">
                        <li>Software</li>
                        <li>Web Solution</li>
                        <li>Design</li>
                        <li>Other</li>
                    </ul>
                    {% endif %}
                </li>
                <li>
                    {% if request.path == '/signup/' %}
                    <button class="btn-sign-in">sign in</button>
                    {% elif request.path == '/login/' or request.path == '/logout/' %}
                    <button class="btn-sign-up">sign up</button>
                    {% elif request.path == '/change_password/' or request.path == '/password_reset/' or '/reset/' in request.path or request.path == '/password_reset_done/'  %}
                    <div style="width: 15vw;"></div>
                    {% else %}
                    <div class="nav-user">
                        <div class="btn_user">
                            <span>{{ user.get_name }}</span>
                            <img src="{% static 'account/img/tri_grey.png' %}" />
                        </div>
                        <ul class="dropdown">
                            <li><a>My page</a></li>
                            <div class="menu-line"></div>
                            <li><a>Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
    </body>

    <script src="{% static 'account/js/base.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</html>