{% extends 'account/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'account/css/change_password.css' %}">
{% endblock css %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>
                alert('{{ message }}')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
<div id="container">
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="change-password-input">
        <div class="icon">
            <img class="{{ field.name }}" />
        </div>
        <input name="{{ field.name }}" type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}">
    </div>
    {% endfor %}
    <div class="change-password">
        <input type="submit" value="save" />
    </div>
</form>
</div>
{% endblock content %}