{% extends 'account/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'account/css/my_page.css' %}">
{% endblock css %}

{% block content %}
<div id="container">
    <h1>My Page</h1>
    <div id="profile">
        <div class="profile-card-view">
            <h2>profile</h2>
            <form method="post" class="profile-form">
                {% csrf_token %}
                <div class="profile-name">
                    <label for="id_name">name</label>
                    <span>{{ user.get_name }}</span>
                    <input type="text" id="id_name" name="name" value="{{ field.value|default_if_none:user.get_name }}" placeholder="{{ user.get_name }}">
                    <button class="btn-name-edit">
                        <img src="{% static 'account/img/pencil.png' %}" />
                    </button>
                    <button type="submit" class="btn-apply">apply</button>
                </div>
                <div class="profile-department">
                    <label>department</label>
                    <span>{{ user.get_user_department }}</span>
                    <select name="department">
                        <option value="Software">Software</option>
                        <option value="Web Solution">Web Solution</option>
                        <option value="Design">Design</option>
                    </select>
                    <button class="btn-department-edit">
                        <img src="{% static 'account/img/pencil.png' %}" />
                    </button>
                    <button type="submit" class="btn-apply">apply</button>
                </div>
            </form>
            <div class="profile-email">
                <label>e-mail</label>
                <span>{{ user.get_user_email }}</span>
            </div>
        </div>
        <div class="bottom-menu">
            <div class="change-password-menu">
                <img src="{% static 'account/img/password1.png' %}" />
                <a href="">Change your password</a>
            </div>
            <div class="deactivate-account-menu">
                <img src="{% static 'account/img/broken-heart.png' %}" />
                <a href="">Deactivate your account</a>
            </div>
        </div>
    </div>
    <div id="post">
        <h2>post</h2>
        <ul class="my-post-container">
            {% for post_list in posts.values %}
                {% if post_list %}
                <li>
                    <span class="post-date">{{ post_list.0.published_date|date:"y. m" }}</span>
                    <div class="post-title-list">
                        {% for post in post_list %}
                            <span class="post-title">{{ post.title }}</span>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}