{% extends 'account/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock css %}

{% block content %}
<div id="container">
    <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="input-email">
        <label for="{{ field.id_for_label }}">
            <img class="image_icon" src="{% static 'img/email.png' %}" />
        </label>
        <input type="email" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" placeholder="E-MAIL">
    </div>
    {% for error in field.errors %}
        <label class="text-error" for="{{ field.id_for_label }}">{{ error }}</label>
    {% endfor %}
    {% endfor %}
    <div class="send">
        <input type="submit" value="send">
    </div>
</form>
</div>
{% endblock content %}
