{% extends 'account/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock css %}

{% block content %}
<div id="container">
    <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="input-password">
        <label for="{{ field.id_for_label }}">
            <img class="image_icon {{ field.name }}" />
        </label>
        <input type="password" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" placeholder="{{ field.label }}">
    </div>
    {% for error in field.errors %}
        <label class="text-error" for="{{ field.id_for_label }}">{{ error }}</label>
    {% endfor %}
    {% endfor %}
    <div class="send">
        <input type="submit" value="Change my password">
    </div>
</form>
</div>
{% endblock content %}
