{% extends 'account/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock css %}

{% block content %}
<div id="container">
    <form action=".." method="post">
        {% csrf_token %}
        <div class="input-box">
            {% for field in form %}
            <div class="sign-up-input">
                <div class="icon">
                    <img class="{{ field.name }}" />
                </div>
                {% if field.label == "Department" %}
                <select name="department">
                    <option value="Software">SOFTWARE</option>
                    <option value="Web Solution">WEB SOLUTION</option>
                    <option value="Design">DESIGN</option>
                </select>
                {% else %}
                <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}">
                {% endif %}
            </div>
            {% for error in field.errors %}
                <label class="text-error" for="{{ field.id_for_label }}">{{ error }}</label>
            {% endfor %}
            {% endfor %}
        </div>
        <div class="sign-up">
            <input type="submit" value="sign up">
        </div>
    </form>
</div>
{% endblock content %}