#container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Icon CSS */
.icon {
    display: inline-block;
    margin-right: 30px;
}

.icon img {
    width: 53px;
    height: 53px;
    background-size: contain;
}

.old_password {
    content: url('../img/password1.png');
}
.new_password1 {
    content: url('../img/password1.png');
}
.new_password2 {
    content: url('../img/password2_checked.png');
}

/* Input CSS */
.change-password-input {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.change-password-input input[type='password'] {
    width: 28vw;
    min-width: 300px;
    height: 80px;
    background-color: #F9F9F9;
    border-radius: 20px;
    border: 0px;
    padding-left: 34px;
}

.change-password-input input[type='password']:focus {
    outline: 0;
}

.change-password-input input[type='password']::placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
.change-password-input input[type='password']::-moz-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
.change-password-input input[type='password']::-ms-input-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}
.change-password-input input[type='password']::-webkit-input-placeholder {
    font-size: 1rem;
    text-transform: uppercase;
}

/* Button Sign Up */
.change-password {
    margin-bottom: 60px;
    margin-top: 4vh;
}
.change-password input[type='submit'] {
    width: 32vw;
    height: 80px;
    background-color: #DC8962;
    border-radius: 20px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}