#container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    display: block;
    margin-bottom: 10px;
}

.btn-deactivate {
    border: none;
    background: none;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
    color: #DC8962;
}

#deactivate_form {
    margin-bottom: 60px;
}