/* Container */
#container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container {
    margin-left: 65px;
    margin-right: 65px;
    padding-bottom: 40px;
    max-height: 80%;
    display: flex;
    justify-content: space-between;
}

#profile {
    flex: 1;
}

#post {
    flex: 1;
    padding-right: 30px;
    overflow-y: scroll;
    height: 70%;
}

/* Scrollbar */
#post::-webkit-scrollbar {
    width: 6px;
}
#post::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
    background-clip: padding-box;
}
#post::-webkit-scrollbar-track {
    background-color: #F3F3F3;
    border-radius: 10px;
}

/* Text My Page */
h1 {
    font-size: 1.4rem;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 65px;
}

/* Text Second Title */
h2 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 40px;
}

/* Card View */
.profile-card-view {
    width: 27vw;
    min-width: 400px;
    padding: 40px;
    border-radius: 20px;

    -webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
       -moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
            box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.15);
}

.profile-card-view label {
    font-size: 1.1rem;
}

.profile-card-view span {
    color: #DC8962;
    font-weight: bold;
    margin-left: 15px;

    padding-left: 10px;
    padding-right: 10px;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #DC8962;
}

.profile-name,
.profile-department {
    margin-bottom: 30px;
}

/* Edit */
.btn-name-edit,
.btn-department-edit {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-name-edit img,
.btn-department-edit img {
    width: 20px;
    height: auto;
}

.btn-name-edit:focus,
.btn-department-edit:focus {
    outline: none;
}

#id_name {
    background-color: #F9F9F9;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    width: 10vw;
    min-width: 90px;
    margin-left: 15px;
}
#id_name:focus {
    outline: none;
}

#id_department {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: #F9F9F9 url('../img/tri_grey.png') no-repeat 90% 50%;
    background-size: 10%;
    border-radius: 10px;

    width: 12vw;
    min-width: 130px;
    padding: 10px;
    margin-left: 15px;
}
#id_department:focus {
    outline: none;
}

.btn-apply {
    border: none;
    background-color: #DC8962;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}
.btn-apply:focus {
    outline: none;
}

.btn-cancel {
    border: none;
    background: none;
    cursor: pointer;
    color: #999999;
}
.btn-cancel {
    outline: none;
}

.invisible {
    display: none;
}

/* Bottom Menu */
.bottom-menu {
    margin-top: 40px;
}

.change-password-menu {
    margin-bottom: 15px;
}

.change-password-menu,
.deactivate-account-menu {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.change-password-menu img,
.deactivate-account-menu img {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

.change-password-menu a {
    text-decoration: none;
    color: black;
}

.deactivate-account-menu a {
    text-decoration: none;
    color: #999999;
}

/* Post */
.my-post-container li::marker {
    color: #DC8962;
}

.month-post {
    margin-bottom: 30px;
    display: flex;
}

.post-date {
    margin-right: 40px;
    color: #DC8962;
    font-weight: bold;
    font-size: 1.1rem;
}

.post-title-list {
    display: flex;
    flex-direction: column;
}

.post-title-list a {
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}

/* Media Query */
@media (max-width: 1200px) {
    .content-container {
        flex-direction: column;
    }

    #post {
        margin-top: 60px;
        overflow-y: inherit;
    }

    .content-container {
        max-height: none;
    }
}
