html, body {
    height: 100%;
    margin: 0;
}

/* Nav Container */
nav .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    margin: 0 65px;
    padding: 0;
}

/* Nav Department */
.nav-department {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.nav-department li {
    margin-right: 5vw;
    cursor: pointer;
}

/* List Style */
nav li {
    list-style: none;
}

/* Logo */
.logo {
    display: flex;
    width: 15vw;
    min-width: 125px;
    cursor: pointer;
}
.logo img {
    width: 100%;
}

/* User Menu */
.btn_user {
    cursor: pointer;
}

.btn_user img {
    width: 15px;
    height: auto;
}

/* Dropdown Menu */
.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    z-index: 1;
    position: absolute;
    top: 10vh;

    padding-left: 0;
    margin-top: 30px;
    margin-left: -35px;
    width: 130px;
    height: 100px;

    background-color: #F0B791;
    border-radius: 20px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: all 0.4s ease;
}

.dropdown li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown li:nth-child(1) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dropdown li:nth-child(3) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown li:hover {
    background-color: #DC8962;
}

.dropdown a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-weight: bold;
}

.dropdown-active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.line {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: white;
}

/* Nav Button */
nav button {
    width: 10vw;
    min-width: 90px;
    margin-left: 5vw;
    height: 50px;
    border-radius: 20px;
    background-color: #F0B791;
    border: 0px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

nav button:focus {
    outline: none;
}

/* Media Query */
@media (max-width: 900px) {
    .nav-department {
        display: none;
    }
}
